################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HybridHelper.App.Framework/obj/Debug/HybridHelper.App.Framework.csproj.AssemblyReference.cache
